.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: rgba(255, 26, 26);
    font-size:25px;
    font-weight: bold;
}

.navbar-light{
margin-bottom: 20px;
}


#button:disabled{
    color:grey
}




.card{
    padding: 25px;
    border: none;
    border-bottom: lightgray 1px solid;
    
}

.card:hover{
    background-color: rgb(211, 211, 211,0.2);
}

.pagination{
    margin-top: 20px;
}

.page-item.active .page-link{
    background-color: rgba(255, 26, 26);
    border-color: rgba(255, 26, 26);
    font-weight: bold;
}

.page-item .page-link{
    color: rgba(255, 26, 26);
    font-weight: bold;
    
}

#rodape{
    background-color: rgba(255, 26, 26);
    margin-top: 20px;
    border-top: white 1px solid;
}


.img-thumbnail{
    background-color: rgba(255, 26, 26);
    border: none;
    
}

.img-thumbnail:hover{
    opacity:60%;
}

