.card{
    padding: 25px;
    border: none;
    border-bottom: lightgray 1px solid;
}

.pagination{
    margin-top: 20px;
}

#rodape{
    background-color: rgba(255, 26, 26);
    margin-top: 20px;
    border-top: white 1px solid;
}


.img-thumbnail{
    background-color: rgba(255, 26, 26);
    border: none;
    
}